In [1]:
import pandas as pd
music_data = pd.read_csv("music.csv")

In [ ]:
music_data

In [3]:
#splitting the data set between two seperated data set
X = music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

y = music_data['genre'] # output data set
y

In [6]:
y = music_data['genre'] # output data set
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [7]:
# implementin decesion tree algo
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X,y) #this model takes two data sets, the input set and the output set
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [8]:
predictions = model.predict([[21,1],[22,0]]) # it takes two dimensional array in this array each element is an array
predictions

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

# Measuring the accuracy of the model
here in the model.fit command we are passing the entire data set into the model which is not optimal

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size = 0.2) # this mModel ethod returns a tuple of 4 variables

We will now make the model again with only the trainng data set and then predict the output to compare it with the actual data we have

In [14]:
model.fit(X_train, y_train)
predictions = model.predict(X_test)

Now testing the accuracy

In [15]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test, predictions)
score

0.75

Model persistence is saving the model to a file and then using that gile

In [20]:
# from sklearn.externals import joblib
import joblib
joblib.dump(model, 'music-recommender.joblib')
# joblib(model, 'music-recommender.joblib')

['music-recommender.joblib']

To load this model we have the load method

In [21]:
model = joblib.load('music-recommender.joblib')

In [23]:
predictions = model.predict([[21,1]])
predictions

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)

#Exporting our Model in the visual format
- we first simplify the above written code to understand whats happening

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns = ['genre'])
y= music_data['genre']

model = DecisionTreeClassifier()
model.fit(X, y)

To the above basic model to create this we add things:

In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree  # to export our deciosn tree in the graphical format

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns = ['genre'])
y= music_data['genre']

model = DecisionTreeClassifier()
model.fit(X, y)

tree.export_graphviz(model, out_file = "music-recommender.dot",
                     feature_names = ['age', 'gender'],
                     class_names = sorted(y.unique()),
                     label = 'all',
                     rounded = True,
                     filled = True)

graphviz signature:


```
def export_graphviz(decision_tree, out_file="tree.dot", max_depth=None,
                feature_names=None, class_names=None, label='all',
                filled=False, leaves_parallel=False, impurity=True,
                node_ids=False, proportion=False, rotate=False,
                rounded=False, special_characters=False):
```
And to view this graph:
- drag and drop this file in the vscode window
- install dot(Graphviz(dot) language by Stephanvs
on the dot file click three dot in the rith side and opn preview on the right 

What exactly are the parameters we passed to the graphviz:

```fill: True``` Each box or each node will be filled by a color
```rounded: True``` So that they have rounde corners
```label: all``` So that every node has label that we can read. 

```class_names``` to the unique list of genre

```feature : ['age', 'gender']``` So that we can see the rows in our nodes.